<h1>Why Wordlick?</h1>

<p>I don't know. Just go with it.</p>

<p>I created this out of frustration one day when I couldn't beat a colleague at <a href="http://www.hangingwithfriends.com/" target="_blank">Hanging with Friends <span class="glyphicon glyphicon-new-window"></span></a>. With only one letter to go I decided to write a hangman solver to suggest the next most likely letter. It worked and I won :)</p>

<p>The best way to use Wordlick is after having already successfully guessed a few letters of the word. You then input the letters you have and for the ones you don't know yet, type a dash "-". Wordlick uses these letters and their positions to find the most likely words from the ENABLE dictionary - the same dictionary used by the game.</p>

<p>It doesn't just solve for words, Wordlick can suggest the best words to play! The <a href="/#build">build form</a> lets you input 12 letters you want to play and you'll get a list of the highest scoring words you can play with those letters.</p>
